<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <serviceworker>
                <enable>1</enable>
                <offline_page>offline</offline_page>
                <url_blacklist><![CDATA[checkout/
customer/account/create*
customer/account/login*
]]></url_blacklist>
            </serviceworker>
        </web>
    </default>
</config>
